<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="/fragments/layout :: head(title='getOrder')"></head>

<body>
<header th:replace="/fragments/layout :: header"></header>

<h3 th:text="'Details about order ref. ' + ${order.getReference()} +':'"></h3>

<table class="table table-striped table-hover">
    <thead class="thead-success">
    <tr>
        <th scope="col"></th>
        <th scope="col">Date of creation :</th>
        <th scope="col">Customer :</th>
        <th scope="col">Client :</th>
        <th scope="col">User :</th>
        <th scope="col">HT Price :</th>
        <th scope="col">TC Price :</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row"></th>
        <td><span th:text="${order.getReference()}"></span></td>
        <td><span th:text="${order.getDateOfCreation()}"></span></td>
        <td><span th:text="${order.getCustomer()}"></span></td>
        <td><span th:text="${order.getUser()}"></span></td>
        <td><span th:text="${order.getTotalPrice()}"></span></td>
        <td><span th:text="${order.getTotalPriceWithVat()}"></span></td>
    </tr>
    </tbody>
</table>

<footer th:replace="/fragments/layout :: footer"></footer>
<div th:replace="/fragments/layout :: scripts"></div>
</body>
</html>