<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="/fragments/layout :: head(title='Orders')"></head>

<body>
<header th:replace="/fragments/layout :: header"></header>

<h1>Welcome to the orderList test view...</h1>

<!-- New order button -->
<a class="btn btn-success" th:href="@{/orders/add_order}">
    <span class="glyphicon glyphicon-file"></span> New order
</a>

<!-- Order List -->
<table class="table table-striped table-hover">
    <thead class="thead-dark">
    <tr>
        <th scope="col"></th>
        <th scope="col">Reference</th>
        <th scope="col">Dat of creation</th>
        <th scope="col">Client Id</th>
        <th scope="col">User Id</th>
        <th scope="col">HT Price</th>
        <th scope="col">TC Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <th scope="row"></th>
        <td><span th:text="${order.getReference()}"></span></td>
        <td><span th:text="${order.getDateOfCreation()}"></span></td>
        <td><span th:text="${order.getCustomer()}"></span></td>
        <td><span th:text="${order.getUser()}"></span></td>
        <td><span th:text="${order.getTotalPrice()}"></span></td>
        <td><span th:text="${order.getTotalPriceWithVat()}"></span></td>
    </tr>
    </tbody>
</table>

<footer th:replace="/fragments/layout :: footer"></footer>
<div th:replace="/fragments/layout :: scripts"></div>
</body>
</html>