<!-- ========================================= Notes =============================================-->

<!-- === Lines to insert into a view to display the ThymeLeaf main layout === -->
<!-- HEAD : <head th:replace="/fragments/layout :: head(title="customizedTitle")"></head> -->
<!-- HEADER : <header th:replace="/fragments/layout :: header"></header> -->
<!-- FOOTER : <footer th:replace="/fragments/layout :: footer"></footer> -->
<!-- SCRIPTS (into and at the end of the body tag) : <div th:replace="/fragments/layout :: scripts"></div> -->

<!-- Bootstrap features enabled -->

<!-- IMPORTANT : add following html tag in your html view file to enable ThymeLeaf-->
<!-- <html lang="fr" xmlns:th="http://www.thymeleaf.org"> -->

<!-- see index.html for sample -->
<!-- ============================================================================================-->

<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:fragment="head (title)">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <title th:text="${title}"></title>
    <!-- configs -->
    <meta charset="utf-8">

</head>

<body>
    <header th:fragment="header">
        <div class="px-3 py-2 bg-dark text-white ">
            <div class="container">
                <div class="d-flex flex-row align-items-center justify-content-between">
                    <div>
                        <h1>Cyber-COGIP</h1>
                    </div>
                    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-end">

                        <ul
                            class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small fs-4 text-center">
                            <li class="nav-item text-white" sec:authorize="isAnonymous()">
                                <a class="nav-link text-white" th:href="@{/login}">
                                    <i class="bi bi-box-arrow-in-right"></i>
                                    <p>Login</p>
                                </a>
                            </li>
                            <li class="nav-item text-white" sec:authorize="isAuthenticated()">
                                <a class="nav-link text-white" th:href="@{/logout}">
                                    <i class="bi bi-box-arrow-left"></i>
                                    <p>
                                        <span sec:authentication="name"></span>
                                        - Logout
                                    </p>
                                </a>
                            </li>
                            <li>
                                <a th:href="@{/}" class="nav-link text-white">
                                    <i class="bi bi-house"></i>
                                    <p>Home</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link text-white">
                                    <i class="bi bi-graph-up"></i>
                                    <p>Dashboard</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link text-white">
                                    <i class="bi bi-stickies"></i>
                                    <p>Orders</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link text-white">
                                    <i class="bi bi-book"></i>
                                    <p>Products</p>
                                </a>
                            </li>
                            <li class="nav-item text-white" sec:authorize="isAuthenticated()">
                                <a href="#" class="nav-link text-white" th:href="@{/customers} ">
                                    <i class="bi bi-people"></i>
                                    <p>Customers</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <footer th:fragment="footer">
        <div class="px-3 py-2 bg-dark text-white fixed-bottom">
            <div class="container">


                <div class="d-flex flex-row align-items-center justify-content-center">
                    <p class="mx-3 d-flex "> &copy; Cyber-COGIP

                        <a href="https://github.com/arthurruby/cyber-cogip" class="text-white fs-4 mx-4 ">
                            <i class="bi bi-github"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <div th:fragment="scripts">
        <!-- Bootstrap JS scripts (jQuery, Popper, Bootstrap js) CDN -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    </div>

</body>

</html>