<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:fragment="html_head">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/styles/css/bootstrap.min.css}">
  <script th:src="@{/styles/js/bootstrap.min.js}"></script>
  <title>Cogip App</title>
</head>

<body>
  <div th:fragment='navbar'>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Cyber-Cogip</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
          aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarColor01">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" th:href="@{/}">Accueil
                <span class="visually-hidden">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/customers}">Clients</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Catalogue</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Commandes</a>
            </li>

          </ul>
          <!-- <form class="d-flex">
            <input class="form-control me-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
          </form> -->
        </div>
      </div>
    </nav>
  </div>

</body>

</html>